@use './theme.module.scss';

@keyframes gradient {
  0% {
    background-position: left;
  }
  // 25% {
  //   background-position: top right;
  // }
  50% {
    background-position: right;
  }
  // 75% {
  //   background-position: bottom left;
  // }
  100% {
    background-position: top left;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 10rem 0rem;
  margin-top: 2rem;
  background-color: theme.$light;
  color: black;
  position: relative;
}

.gradientBar {
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;
  background: -webkit-linear-gradient(135deg, #4d30d6, #c32e72, #f8db65);
  background-size: 200%;
  animation: gradient 10s infinite;
}
