@use './theme.module.scss';

* {
  box-sizing: border-box;
  font-family: theme.$font-main;
  text-decoration: none;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.appContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
