@use './theme.module.scss';
@import './pageStyles.module.scss';

@keyframes gradient {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: top left;
  }
}

.gradientBar {
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;
  background: -webkit-linear-gradient(0deg, #4d30d6, #c32e72, #f8db65);
  background-size: 200%;
  animation: gradient 10s infinite;
}

.networkContainer {
  position: absolute;
  width: 80vw;
  z-index: 0;
  left: -15%;
  overflow: hidden;
  max-height: 90%;
  top: 36rem;
}

.network {
  width: 100%;
  z-index: 0;
}
