@use './theme.module.scss';

.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: theme.$light;
  padding: 0.5rem 3rem;
  font-family: theme.$font-main;
}

.logoContainer {
  display: flex;
}

.navMenu {
  display: flex;
}

.navLink {
  display: flex;
  margin-left: 3rem;
}
