@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
}

$font-main: 'Comfortaa', sans-serif;

$primary: #286090;
$secondary: #ff715b;
$dark: #1c1c1c;
$light: #ffffff;
