@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
}

//font
$font-main: 'Comfortaa', sans-serif;
$smallFont: 1rem;
$mediumFont: 1.2rem;
$largeFont: 1.5rem;

//colors
$primary: #f1f9f2;
$secondary: #ff715b;
$dark: #1c1c1c;
$light: #ffffff;

//border
$rounded: 0.5rem;
