@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf') format('truetype');
}

//font
$font-main: 'Comfortaa', sans-serif;
$smallFont: 1rem;
$mediumFont: 1.2rem;
$largeFont: 1.5rem;

//colors
$primary: #f1f9f2;
$secondary: #ff715b;
$dark: rgba(20, 20, 20, 0.555);
$light: rgb(241, 241, 241);

//border
$rounded: 0.5rem;
